body {
    background-color: #e4e4e4;
    background-image: linear-gradient(to bottom, #20792d, #20792d 300px, #e4e4e4 300px, #e4e4e4)!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
  }
  html, body {
    margin: 0;
    height: 100%;
  }
  
  .user_card {
    height: 450px;
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  }
  .login_name_wrapper {
      height: 20%!important;
      min-height: 200px;
      margin-bottom: auto;
      margin-top: auto;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: #FFF;
      font-size: 35px;
      font-weight: bold;
      text-transform: uppercase;
  }
  .login_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #20792d;
    padding: 10px;
    text-align: center;
  }
  .login_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .form_container {
    margin-top: 100px;
  }
  .login_btn {
    width: 100%;
    background: white !important;
    color: #20792d !important;
    border-color: #20792d !important;
  }
  .login_btn:hover {
      background: #20792d !important;
      color: white !important;
  }
  
  .login_container {
    padding: 0 2rem;
  }
  .input-group-text {
    background: #20792d !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user, .input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #20792d !important;
  }
  .input-group-text {
    height: 38px;
  }