#page_container {
  margin-top: 15px;
  margin-bottom: 15px;
}

#accordion_search_bar_container {
  position: relative;
    content: '\e003';
    font-family: Glyphicons Halflings;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10px;
    bottom: 10px; 
  }  
  #accordion_search_bar {
    display: block;
    margin: 10px auto;
    width: 100%;
    padding: 7px 10px;
    border: 1px solid grey;
    border-radius: 15px;
    outline: 0;
  }

.form-control:focus {
    box-shadow: 2px 2px 2px grey;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
    border-color: #198754;
  }
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }

  .dark {
    background-color: black;
    color: white;
    }